@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  font-family: "Inter";
  --accent-border: #d01000;
  --accent-text: #FF685C;
  --bg-1: #0c0c0b;
  --bg-2: #151514;
  --bg-3: #222221;
  --bg-4: #3c3c3c;
  --bg-5: #4c4c4c;
  --bg-6: #6c6c6c;
  --scrollbar-color: #333333;
  --page-width-limit: 90rem;
  --text-1: #eeeeee;
  --text-2: #cccccc;
  --text-3: #aaaaaa;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  flex-shrink: 0;
  scrollbar-color: var(--scrollbar-color) transparent;
}

.flex-space {flex-grow: 1;}

body {
  margin: 0;
  height: 100vh;
  width: 100%;
  color: black;
  background: #0c0c0b;
  overflow: hidden;
  overflow-y: auto;
  color: var(--text-2);
}

a {
  color: var(--accent-border)
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}