<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Redstone Browser</title>

  <script src="https://unpkg.com/@supabase/supabase-js@2"></script>
  <script src="/vanillaJSX.js"></script>
  <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
  
  <!--
    all the imported stuff:
    should be condensed into a single js file
    and a single css file for performance
  -->
  
  <script src="/supabase.js"></script>
  <link rel="stylesheet" href="/style.css">

  <script src="/categories/pistonDoors.js"></script>

  <script type="text/babel" src="/components/animatedButtons.js"></script>
  <script type="text/babel" src="/components/nameTag.js"></script>
  <script type="text/babel" src="/components/nav.js"></script>
  <link   rel="stylesheet" href="/components/nav.css">
  <script type="text/babel" src="/components/searchResults.js"></script>
  <script type="text/babel" src="/components/statBlock.js"></script>
  <link   rel="stylesheet" href="/components/statBlock.css">
  <script type="text/babel" src="/components/statFilter.js"></script>
  <link   rel="stylesheet" href="/components/statFilter.css">
  <script type="text/babel" src="/components/tagBlock.js"></script>
  <link   rel="stylesheet" href="/components/tagBlock.css">
  <script type="text/babel" src="/components/unknownBuildPage.js"></script>
  <link   rel="stylesheet" href="/components/unknownBuildPage.css">
  <script type="text/babel" src="/components/viewBuild.js"></script>
  
  <script defer type="text/babel" src="/pages/buildPage.js"></script>
  <link         rel="stylesheet" href="/pages/buildPage.css">

</head>
<body>
  
  
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</body>
</html>